absl-py==0.1.11
astor==0.6.2
bleach==1.5.0
Cython==0.28
enum34==1.1.6
gast==0.2.0
grpcio==1.10.0
h5py==2.7.1
html5lib==0.9999999
Keras==2.1.5
Markdown==2.6.11
numpy==1.14.1
pandas==0.22.0
protobuf==3.5.2
python-dateutil==2.6.1
pytz==2018.3
scipy==1.0.0
six==1.11.0
TA-Lib==0.4.17
tensorboard==1.6.0
tensorflow-gpu==1.6.0
tensorflow-tensorboard==1.5.1
termcolor==1.1.0
Werkzeug==0.14.1
